<nav class="navbar navbar-expand-lg navbar-light mb-5">
  <a class="navbar-brand mx-md-5 cursor-pointer">
    <img class="logo" *ngIf="true" src="{{IMAGES.HEADER.LOGO}}" (click)="navigate('/'+ROUTES.HOME)">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse row" id="navbarNavDropdown">
    <ul class="navbar-nav ml-3 ml-md-5">
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link">
          <div class="link" (click)="navigate('/'+ROUTES.NUTRITION_ANALYSIS.NUTRITION_ANALYSIS_ROOT+ROUTES.NUTRITION_ANALYSIS.NUTRITION_INPUTS)">
              {{'header.nutritionAnalysis' | translate}}
          </div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link">
          <div class="link" (click)="navigate('/'+ROUTES.ABOUT_US)">
            {{'header.aboutUs' | translate}}
          </div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link">
          <div class="link" (click)="changeLanguage()">
            {{'header.language' | translate}}
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>