::ng-deep {
    .nutrition-analysis {
        .inputs-container {
            .ingredient-group {
                padding: 20px 10px;
                border: 1px solid grey;
                border-radius: 3px;
                margin: 10px 0px;
                background-color: rgb(246, 246, 246);
            }
            .spinner {
                height: 100px;
            }
        }
    }
}