<div class="container nutrition-data">
    <div>
        This is a demo of Angular 11 app, NodeJs hosted on firebase functions.
        <div>Angular Github: <span class="link" (click)="navigate(ROUTES.ANGULAR_GITHUB)">{{ROUTES.ANGULAR_GITHUB}}</span></div>
        <div>NODEJS Github: <span class="link" (click)="navigate(ROUTES.ANGULAR_GITHUB)">{{ROUTES.ANGULAR_GITHUB}}</span></div>
    </div>
    <div class="link" (click)="navigate(ROUTES.YOUSSEF_LINKEDIN)">{{ROUTES.YOUSSEF_LINKEDIN}}</div>
    <div class="mt-3">
        Developed by Youssef Abdelmonsef
    </div>


</div>