$custom-cyan-color: rgb(110, 200, 196);
$custom-green-color: rgb(130, 162, 31);
$custom-orange-color: rgb(255, 170, 0);
$custom-dark-grey-header-color: rgb(54, 54, 54);
$custom-navy-blue-color: rgb(0, 46, 78);
$custom-dark-navy-blue-color: rgb(5, 44, 75);